<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <a class="nav-link active" aria-current="page" href="index.html">Home
              </a>
              <a class="nav-link1" href="update.html">Add/Update Todo List</a>
        </nav>

    </header>
    
</body>
</html>